.footer {
    width: auto;
    height: 247px;
    background-color: #F6F5F5;
}

.footer_main_container {
    display: flex;
    justify-content: center;
}

.footer_main_container_bottom {
    padding-top: 140px;
    height: 120px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 1140px;
    align-items: center;
}

img.LaslesVPN {
    width: 132px;
    height: 30px;
}

.footer_social_media {
    display: flex;
    width: 160px;
    align-items: center;
    justify-content: space-around;
}

img.media {
    width: 34px;
    height: 34px;
}

img.logo_png {
    width: 148px;
    height: 36px;
}