@import "header.css";
@import "hero.css";
@import "features.css";
@import "feedbacks.css";
@import "footer.css";

body{
    font-family: Rubik;
    font-size: 16px;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}
